/* Helpers */

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid #000000;
  background-color: var(--texts-background-deafault);
}

/* Blocks */

.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  color: var(--texts-background-deafault);
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.button--primary {
  background-color: var(--buttons-second);
}

.button--secondary {
  background-color: var(--texts-hover);
}

.button--active {
  background-color: var(--buttons-select);
}

.button--primary:hover,
.button--primary:focus {
  background: var(--buttons-blue-hover);
}

.button--primary:active {
  color: var(--texts-background-small);
  background: var(--buttons-second);
}

.button--secondary:hover,
.button--secondary:focus {
  background: var(--buttons-brown-hover);
}

.button--secondary:active {
  color: var(--texts-background-small);
  background: var(--texts-hover);
}

.button--active:hover,
.button--active:focus {
  background: var(--buttons-green-hover);
}

.button--active:active {
  color: var(--texts-background-small);
  background: var(--buttons-select);
}

.button--size-s {
  padding: 8px 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
}

.button--size-m {
  padding: 8px 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
}

.button--size-l {
  padding: 18px 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}

.button--disabled,
.button--disabled:hover,
.button--disabled:focus,
.button--disabled:active {
  color: var(--texts-background-deafault);
  background: var(--buttons-disabled);
  cursor: default;
}

.logo {
  display: flex;
  cursor: pointer;
}

.logo:hover,
.logo:focus {
  opacity: 0.5;
}

.logo:active {
  opacity: 0.7;
}

.notification-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 100%;
  text-align: center;
  color: var(--texts-background-deafault);
  background-color: var(--buttons-select);
  border-radius: 100%;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 32px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--texts-texts-basic);
  text-transform: capitalize;
  list-style: none;
}

.site-navigation__link {
  display: block;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.site-navigation__link:not(.site-navigation__link--active):hover,
.site-navigation__link:not(.site-navigation__link--active):focus {
  opacity: 0.5;
}

.site-navigation__link:not(.site-navigation__link--active):active {
  opacity: 0.7;
}

.site-navigation__link--active {
  padding-bottom: 18px;
  border-bottom: 2px solid #756257;
  cursor: default;
}

.user-navigation {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation__link {
  position: relative;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.user-navigation__link:hover,
.user-navigation__link:focus {
  opacity: 0.5;
}

.user-navigation__link:active {
  opacity: 0.7;
}

.user-navigation__icon {
  display: block;
}

.user-navigation__notification {
  position: absolute;
  top: -11px;
  right: -8px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  fill: #83b3d3;
  list-style: none;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
  fill: inherit;
  cursor: pointer;
}

.social__link:hover,
.social__link:focus {
  fill: #68a2ca;
}

.social__link:active {
  fill-opacity: 0.3;
}

.rating {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 20px;
  align-items: center;
}

.rating__star {
  display: flex;
  align-items: start;
  gap: 6px;
}

.rating__label {
  margin: 0;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  background: var(--forms-elements-2);
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-background-deafault);
  background: var(--buttons-second);
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination__link:hover,
.pagination__link:focus {
  background: var(--buttons-blue-hover);
  border: 1px solid var(--buttons-second);
}

.pagination__link:active {
  color: var(--texts-background-small);
  background: var(--buttons-second);
}

.pagination__link--active,
.pagination__link--active:hover,
.pagination__link--active:focus,
.pagination__link--active:active {
  color: var(--texts-texts-basic);
  background: var(--forms-elements-2);
  border: none;
  cursor: default;
}

.pagination__link--dots,
.pagination__link--dots:hover,
.pagination__link--dots:focus,
.pagination__link--dots:active {
  font-size: 22px;
  line-height: 118%;
  color: var(--texts-texts-basic);
  background-color: #ffffff;
  border: none;
}

.display {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.display__button {
  width: 48px;
  height: 48px;
  border: 2px solid var(--buttons-disabled);
  border-radius: 4px;
  cursor: pointer;
}

.display__button:hover {
  border: 2px solid var(--texts-texts-basic);
}

.display__button:focus {
  border: 2px solid var(--buttons-blue-hover);
}

.display__button:active {
  border: 2px solid var(--texts-texts-basic);
}

.display__button--theme-tile {
  background-image: url("../images/icon-display-tile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.display__button--theme-list {
  background-image: url("../images/icon-display-list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.display__button--theme-card {
  background-image: url("../images/icon-display-card.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sort-control {
  box-sizing: border-box;
  padding: 14px 40px 14px 20px;
  border-radius: 4px;
  border: 2px solid var(--buttons-disabled);
  cursor: pointer;
  appearance: none;
  background-image: url("../images/arrow-bottom.svg");
  background-position: right 20px top 20px;
  background-repeat: no-repeat;
  outline: none;
}

.sort-control:hover,
.sort-control:focus {
  border: 2px solid var(--buttons-blue-hover);
}

.sort-control:disabled,
.sort-control--disabled {
  color: var(--background-basic-2);
  background-image: url("../images/arrow-bottom-active.svg");
  border: 2px solid var(--background-basic-2);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item:not(:last-child)::after {
  content: '';
  width: 8px;
  height: 21px;
  margin-left: 10px;
  background-image: url("../images/icon-arrow-right.svg");
  background-repeat: no-repeat;
  object-fit: contain;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 131%;
  color: var(--texts-background-deafault);
  text-decoration: none;
}

.breadcrumbs__link:hover {
  color: var(--texts-background-hover);
}

.breadcrumbs__link:focus {
  color: var(--texts-background-deafault);
}

.breadcrumbs__link:active {
  color: var(--texts-background-small);
}

.breadcrumbs__icon {
  display: block;
}

.checkbox-control {
  position: relative;
  display: flex;
  cursor: pointer;
}

.checkbox-control__input {
  position: absolute;
  appearance: none;
}

.checkbox-control__label {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  line-height: 128%;
  color: var(--texts-background-deafault);
  user-select: none;
}

.checkbox-control__label:hover {
  opacity: 0.6;
}

.checkbox-control__label:active {
  opacity: 0.3;
}

.checkbox-control__label::before {
  box-sizing: border-box;
  z-index: 1;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.checkbox-control__input:checked + .checkbox-control__label::before {
  background-image: url("../images/icon-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-control__label::after {
  content: '';
  position: absolute;
  left: -3px;
  top: -2px;
  width: 26px;
  height: 27px;
}

.checkbox-control__input:focus + .checkbox-control__label::after {
  background-image: url("../images/icon-test-checkbox.svg");
  background-repeat: no-repeat;
  object-fit: contain;
}

/* RADIO */

.radio-control {
  position: relative;
  display: flex;
  cursor: pointer;
}

.radio-control__input {
  position: absolute;
  appearance: none;
}

.radio-control__label {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  line-height: 128%;
  color: var(--texts-background-deafault);
}

.radio-control__label:hover {
  opacity: 0.6;
}

.radio-control__label:focus {
  color: var(--texts-background-deafault);
}

.radio-control__label:active {
  opacity: 0.3;
}

.radio-control__label::before {
  content: '';
  z-index: 1;
  width: 20px;
  height: 21px;
  background-color: #ffffff;
  border-radius: 50%;
}

.radio-control__input:checked + .radio-control__label::before {
  content: '';
  background-image: url("../images/icon-radio-checked.svg");
  background-repeat: no-repeat;
  object-fit: contain;
}

.radio-control__label::after {
  position: absolute;
  left: -3px;
  top: -2px;
  content: '';
  width: 26px;
  height: 27px;
}

.radio-control__input:focus + .radio-control__label::after {
  background-image: url("../images/icon-radio-focus.svg");
  background-repeat: no-repeat;
  object-fit: contain;
}

.filters-form {
  outline: 1px solid yellow;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 70px;
  margin: 0;
}

.filters-form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filters-form__fieldset-caption {
  padding: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  color: var(--texts-background-deafault);
}

.filters-form__options-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.newsletter-form {
  display: grid;
  grid-template-areas: "input button";
  grid-template-columns: 1fr auto;
  border-radius: 4px 0 0 4px;
  width: 452px;
}

.newsletter-form__input {
  grid-area: input;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: var(--texts-texts-basic);
  background-color: var(--forms-elements-2);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.newsletter-form__button {
  grid-area: button;
  width: 232px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.product-preview {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.product-preview__link {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  text-decoration: none;
  cursor: pointer;
}

.product-preview__link:hover,
.product-preview__link:focus {
  opacity: 0.5;
}

.product-preview__link:active {
  opacity: 0.7;
}

.product-preview__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  color: var(--texts-texts-basic);
}

.product-preview__category {
  margin: 0;
}

.product-preview__price {
  justify-self: end;
  margin: 0;
}

.product-preview__buttons {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 20px;
}

.product-preview__rating {
  grid-column: 1/-1;
}

.page-header {
  padding-right: 70px;
  padding-left: 70px;
}

.main-navigation {
  position: relative;
  display: grid;
  align-items: center;
  column-gap: 32px;
  grid-template-columns: 154px auto 1fr auto;
}

.main-navigation__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.main-navigation__site-navigation {
  grid-column: 2/3;
}

.main-navigation__user-navigation {
  grid-column: 3/4;
  justify-self: end;
}

.main-navigation__button {
  min-width: 160px;
  grid-column: -1/-2;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
}

.hero__content {
  padding: 69px 274px 90px;
}

.hero__image {
  display: block;
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
}

.hero__description {
  margin: 0;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: var(--texts-second);
}

.reasons__content {
  padding: 69px 290px 90px;
}

.reasons__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
}

.reasons__description {
  margin: 0;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: var(--texts-second);
}

.reasons__list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reasons__image {
  display: block;
}

.reasons__item {
  grid-column: span 1;
}

.reasons__item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 102px 85px;
  background: var(--background-second-1);
}

.reasons__item-content::before {
  content: '';
  width: 60px;
  height: 2px;
  background: var(--background-basic-2);
}

.reasons__item-title {
  order: -1;
  margin: 0 27px;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
}

.reasons__item-description {
  margin: 0;
  text-align: center;
}

.reasons__item-content--theme-accent {
  background: var(--buttons-second);
}

.reasons__item-content--theme-accent .reasons__item-title {
  color: var(--texts-background-deafault);
}

.reasons__item-content--theme-accent .reasons__item-description {
  color: var(--texts-background-deafault);
}

.reasons__item--wide {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 400px 1fr;
}

.reasons__item--reverse {
  grid-template-columns: 1fr 400px;
}

.reasons__item--reverse .reasons__image {
  order: -1;
}

.reasons__list--stripped .reasons__item:nth-child(odd) {
  background: var(--background-second-2);
}

.recommendations__content {
  padding: 64px 347px;
}

.recommendations__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
}

.recommendations__text {
  margin: 0;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: var(--texts-second);
}

.recommendations__list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  list-style: none;
}

.recommendations__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 183px 85px 80px;
}

.recommendations__list--stripped .recommendations__item:nth-child(odd) {
  background: var(--background-second-1);
}

.recommendations__item--house::before {
  position: absolute;
  top: 80px;
  left: auto;
  right: auto;
  content: '';
  width: 77px;
  height: 72px;
  background-image: url("../images/icon-house.svg");
  background-repeat: no-repeat;
  object-fit: contain;
}

.recommendations__item--burger::before {
  position: absolute;
  top: 80px;
  left: auto;
  right: auto;
  content: '';
  width: 76px;
  height: 72px;
  background-image: url("../images/icon-burger.svg");
  background-repeat: no-repeat;
  object-fit: contain;
}

.recommendations__item--gift::before {
  position: absolute;
  top: 80px;
  left: auto;
  right: auto;
  content: '';
  width: 76px;
  height: 76px;
  background-image: url("../images/icon-gift.svg");
  background-repeat: no-repeat;
  object-fit: contain;
}

.recommendations__item-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
}

.recommendations__item-description {
  margin: 0;
  text-align: center;
  color: var(--texts-second);
}

.hotels {
  padding: 96px 304px;
}

.hotels__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
}

.hotels__text {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: var(--texts-second);
}

.hotels__button {
  display: block;
  width: 376px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter {
  padding-top: 96px;
  padding-right: 258px;
  padding-left: 258px;
  padding-bottom: 104px;
  background-color: #ffffff;
}

.newsletter--theme-cover {
  background-image: url("../images/bg-newsletter.png");
  background-position: center;
  background-repeat: no-repeat;
}

.newsletter__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
}

.newsletter__text {
  width: 475px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: var(--texts-second);
}

.newsletter__form {
  width: 100%;
}

.newsletter--theme-cover .newsletter__title {
  color: var(--texts-background-deafault);
}

.newsletter--theme-cover .newsletter__text {
  color: var(--texts-background-deafault);
}

.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-right: 70px;
  padding-bottom: 35px;
  padding-left: 70px;
}

.page-footer__phone {
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
  text-decoration: none;
}

.page-footer__phone:hover,
.page-footer__phone:focus {
  color: var(--texts-hover);
}

.page-footer__phone:active {
  color: var(--texts-active);
}

.page-footer__logo {
  display: flex;
  width: 115px;
  height: 34px;
  fill: #000000;
}

.page-footer__logo:hover,
.page-footer__logo:focus {
  fill: #756157;
}

.page-footer__logo:active {
  fill: #756157;
  fill-opacity: 0.3;
}

.catalog-products {
  padding: 50px 70px 60px;
}

.catalog-products__headline {
  display: grid;
  grid-template-columns: 1fr 292px auto;
  gap: 70px;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-products__count {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--texts-texts-basic);
}

.catalog-products__catalog {
  margin-bottom: 40px;
}

.inner-page {
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 70px;
}

.inner-page__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  color: var(--texts-background-deafault);
}

.inner-page__breadcrumbs {
  margin-bottom: 40px;
}

.page {
  min-width: 1280px;
  margin: 0;
  padding: 0 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  color: var(--texts-second);
  background-color: var(--forms-elements-2);
}

.page__content-header {
  padding: 35px 70px 70px;
  background-image: url("../images/bg-inner.png");
  background-repeat: no-repeat;
  background-position: center 0;
}

.page__inner-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  color: var(--texts-background-deafault);
}

.page__breadcrumbs {
  margin-bottom: 40px;
}

.page__shadow {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --font-family: "PT Sans", sans-serif;
  --texts-second: #333333;
  --texts-error: #ff5757;
  --texts-hover: #756157;
  --texts-active: rgba(117, 97, 87, 0.3);
  --texts-texts-basic: #000000;
  --texts-background-deafault: #ffffff;
  --texts-background-small: rgba(255, 255, 255, 0.3);
  --texts-background-hover: rgba(255, 255, 255, 0.6);
  --texts-background-active: rgba(255, 255, 255, 0.3);
  --buttons-basic: #756157;
  --buttons-second: #82b3d3;
  --buttons-select: #7db54f;
  --buttons-disabled: #e5e5e5;
  --buttons-brown-hover: #615048;
  --buttons-blue-hover: #68a2ca;
  --buttons-green-hover: #6c9e42;
  --background-basic-1: #ffffff;
  --background-basic-2: rgba(0, 0, 0, 0.3);
  --background-basic-3: #82b3d3;
  --background-second-1: rgba(131, 179, 211, 0.12);
  --background-second-2: rgba(131, 179, 211, 0.2);
  --icons-basic: #000000;
  --icons-second: #83b3d3;
  --icons-text: #7db54f;
  --icons-hover: #756157;
  --icons-active: rgba(117, 97, 87, 0.3);
  --icons-second-hover: #68a2ca;
  --icons-second-active: rgba(104, 162, 202, 0.3);
  --forms-inputs: #3f5e72;
  --forms-elements-1: #e5e5e5;
  --forms-elements-2: #f2f2f2;
}